.btn-gradient {
	/* Legacy browsers */
	background: lightsalmon url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -webkit-gradient(
		linear,
		left top, right bottom,
		from(#ffa325),
		to(#ffa243)
	);
	background: -webkit-linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	background: -moz-linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	background: -o-linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	background: linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	color: #FFF !important;
	border: none;
}

#home-page {
	height: 100%;
	margin: 0 10px;
	padding: 10px 0;

	#home-page-bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}

.content {
	margin-bottom: 50px;
}

.active {
	color: orange !important;
}

.title {
	color: #929292;
}

.tab-item {
	&:active {
		color: orange !important;
	}
}

.bar {
	box-shadow: none;
}

.icon-left-nav, .icon-right-nav, .btn-link {
	color: #929292 !important;
	&:active {
		color: orange !important;
	}
}
#post {
	p {
		font-size: 17px;
	}
	overflow-x: hidden;	
	img {
		max-width: 100%;
	}
}
#posts {
	h3 {
		font-size: 18px !important;
		font-weight: 400 !important;
	}
	.badge {
		color: #FFF;
		background-color: orange;
	}

	margin-bottom: 50px;
}

.table-view {
	margin-top: 0 !important;
	border: none;
}

.disabled {
	background-color: #eeeeee;
	color: #777777;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	color: #333333;
	background-color: whitesmoke;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

@import "modules/all";