#lessons {
	.day-nav .col-xs-3 a, #list-group-wrapper, .list-group {
		@include border-radius(4px);
		@include shadow;
	}
	.dropdown-menu {
		margin-top: -25px;
	}
	.disabled {
		background-color: #eeeeee;
		color: #999999;
	}	
	#list-group-wrapper {
		height: 496px;
		background-color: #FFF;
	}
	.center {
		.col-xs-3 {
			margin-top: 20px;
			span {
				margin: 10px 0;
			}
		}
	}
	.list-group {
		// display: none;
		li {
			padding: 0 15px;
			h3 {
				font-weight: 300;
			}
			p {
				display: inline-block;
				margin-right: 15px;
			}
			span {
				margin-right: 5px;
			}
			.col-xs-1 {
				width: 15%;
				padding: 0;
				text-align: center;
				span {
					background-color: none !important;
					color: $font-color;
					margin: 30px 0;
					display: inline-block;	
					padding: 0;
					width: 30px;
					height: 30px;
					@include border-radius(100%);
					border: 2px solid orange;
					line-height: 26px;
				}
			} // end .col-xs-1
			.col-xs-11 {
				width: 85%;
				padding: 0;	
			}
		} // end li
		.miss {
			margin-bottom: 20px;
		}
	} // end .list-group
} // end #lessons