.center {
	text-align: center;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.fw100 {
	font-weight: 100;
}

.fw300 {
	font-weight: 300;
}

.bgw {
	background-color: #FFF;
}

.mt75 {
	margin-top: 75px;
}