@mixin css-transition($delay) {
	-webkit-transition: $delay all ease;
	-moz-transition: $delay all ease;
	-ms-transition: $delay all ease;
	-o-transition: $delay all ease;
	transition: $delay all ease;
}

@mixin css-transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}