@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext);

// Colors
$primary-color: orange;
$secondary-color: #FFA169;
$font-color: #333333;

// Fonts
$font-family-sans-serif: 'Roboto';

// Custom navbar
$navbar-height: 75px;
$navbar-default-bg: #333333;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;

@import "bootstrap";