@import "config";
@import "mixins";
@import "helpers";

body {
	margin-top: 90px;
}

.navbar {
	font-weight: 100;
	font-size: 16px;
	.navbar-brand {
		font-family: 'Lobster', cursive;
		font-size: 20px;
		color: orange;
	}
	.nav li a {
		&:hover {
			color: #FFA169;
		}
	}
}

// Typography
a {
	color: orange;
	@include css-transition(0.25s);
	&:hover {
		color: #333333;
	}
}

// Home page styles
.home-hero {
	width: 100%;
	height: 100%;
	display: table;
	.container {
		display: table-cell;
		vertical-align: middle;
	}
	.jumbotron {
		background-color: inherit;
		text-align: center;
		.social {
			a {
				color: $font-color;
			}
			i {
				margin: 0 7px;
				@include css-transition(0.25s);
				&:hover {
					@include css-transform(scale(1.25,1.25));
				}
			}
		}
	}
}

.home-page-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: url(http://workdemostration.com/transfrontimmigration4/images/photodune-432300-happy-group-of-people-m.jpg);
	background-position: center center;
	background-size: cover;
}

.home-page-spacer {
	width: 100%;
	height: 100%;
}

.gradient {
	/* Legacy browsers */
	background: lightsalmon url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -webkit-gradient(
		linear,
		left top, right bottom,
		from(#ffa325),
		to(#ffa243)
	);
	background: -webkit-linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	background: -moz-linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	background: -o-linear-gradient(
		left top,
		orange,
		lightsalmon
	);
	background: linear-gradient(
		left top,
		orange,
		lightsalmon
	);
}	

.text-gradient {
	background: -webkit-gradient(
		linear,
		left center, right center,
		from(orange),
		to(lightsalmon)
	);
	 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


// Students preview
.student-preview {
	img {
		display: block;
		margin: 0 auto;
		max-width: 70%;
	}
	h3, h4 {
		text-align: center;
	}
	p {
		text-align: justify;
	}
	&:hover {
	}
}

// Timer
.timer {
	width: 100%;
	height: 380px;
	background-color: rgba(51,51,51, 0.5);
	color: #FFA169;
	h3 {
		font-size: 125px;
		font-weight: 100;
	}
}

// Footer
footer {
	height: 300px;
	background-color: #333333;
}