// Modules and Variables
@import "partials/base";

// Partials
@import "partials/slidebar";
@import "partials/typography";
@import "partials/home-page";
@import "partials/preview";
@import "partials/gradient";
@import "partials/timer";
@import "partials/day-lessons";
@import "partials/week-lessons";
@import "partials/admin-pages";
@import "partials/posts-pages";
@import "partials/pagination";
@import "partials/magnific";

// Other
.sb-site {
	padding: 15px 0;
}

#epiceditor {
	height: 500px;
	iframe {
		border-radius: 4px;
	}
}