.active {
	color: orange !important;
}
.tab-item {
	&:active {
		color: orange !important;
	}
}

.bar {
	box-shadow: none;
}

.icon-left-nav, .icon-right-nav {
	color: #929292;
	&:active {
		color: orange;
	}
}

.table-view {
	margin-top: 0 !important;
	border: none;
}

.row {
	padding: 11px 0;
}

.disabled {
	background-color: #eeeeee;
	color: #777777;
}


.table-view-divider {
	color: #8a6d3b;
	background-color: #fcf8e3;
	text-align: center;
	padding: 6px 0;
}

.wrapper {
	display: table-cell;
	vertical-align: middle;
}

.lesson-number {
	float: left;
	width: 20%;
	text-align: left;
	height: 42px;
	text-align: center;
	display: table;
	span {
		display: inline-block;
		width: 34px;
		height: 34px;
		border-radius: 100%;
		text-align: center;
		line-height: 30px;
		border: 2px solid orange;
		font-size: 14px;
	}
	img {
		border-radius: 100%;
	}
}

.lesson-content {
	float: left;
	width: 55%;
	i {
		margin-right: 3px;
		&:nth-child(2) {
			margin-left: 12px;
		}
	}
}

.vk-content {
	float: left;
	width: 80%;
	i {
		margin-right: 3px;
		&:nth-child(2) {
			margin-left: 12px;
		}
	}
}

.lesson-type {
	text-align: center;
	float: left;
	width: 25%;
	height: 42px;
	display: table;
	.badge {
		background-color: orange;
		color: #FFF;
	}
}